In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
from dotenv import load_dotenv
from sklearn.cluster import KMeans
import os

In [2]:
load_dotenv('../.venv/.env')

True

**Retrieve database connection details from environment variables**

In [3]:
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
table_name = 'xdr_data'

**Create a connection string**

In [4]:
connection_string = f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)

In [5]:

# Query the table to verify the write
query = 'SELECT * FROM xdr_data'
data = pd.read_sql(query, engine)

** **

In [6]:
print(data.head)

<bound method NDFrame.head of            Bearer Id            Start  Start ms              End     End ms  \
0       1.311448e+19   4/4/2019 12:01  770.0000  4/25/2019 14:35  662.00000
1       1.311448e+19   4/9/2019 13:04  235.0000   4/25/2019 8:15  606.00000
2       1.311448e+19   4/9/2019 17:42    1.0000  4/25/2019 11:58  652.00000
3       1.311448e+19   4/10/2019 0:31  486.0000   4/25/2019 7:36  171.00000
4       1.311448e+19  4/12/2019 20:10  565.0000  4/25/2019 10:40  954.00000
...              ...              ...       ...              ...        ...
149996  7.277826e+18   4/29/2019 7:28  451.0000   4/30/2019 6:02  214.00000
149997  7.349883e+18   4/29/2019 7:28  483.0000  4/30/2019 10:41  187.00000
149998  1.311448e+19   4/29/2019 7:28  283.0000  4/30/2019 10:46  810.00000
149999  1.311448e+19   4/29/2019 7:28  696.0000  4/30/2019 10:40  327.00000
150000  1.013887e+19              N/A  499.1882              N/A  498.80088

           Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0       1.823652e+06  2.082014e+14   3.366496e+10  3.552121e+13
1       1.365104e+06  2.082019e+14   3.368185e+10  3.579401e+13
2       1.361762e+06  2.082003e+14   3.376063e+10  3.528151e+13
3       1.321509e+06  2.082014e+14   3.375034e+10  3.535661e+13
4       1.089009e+06  2.082014e+14   3.369980e+10  3.540701e+13
...              ...           ...            ...           ...
149996  8.123000e+04  2.082022e+14   3.365069e+10  3.548311e+13
149997  9.797000e+04  2.082019e+14   3.366345e+10  3.566051e+13
149998  9.824900e+04  2.082017e+14   3.362189e+10  3.572121e+13
149999  9.791000e+04  2.082021e+14   3.361962e+10  8.618620e+13
150000  1.046086e+05  2.082016e+14   4.188282e+10  4.847455e+13

           Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0       9.16456699548519E+015  ...        1.585461e+07        2.501332e+06
1                     L77566A  ...        2.024740e+07        1.911173e+07
2                     D42335A  ...        1.972566e+07        1.469958e+07
3                     T21824A  ...        2.138812e+07        1.514664e+07
4                     D88865A  ...        1.525938e+07        1.896287e+07
...                       ...  ...                 ...                 ...
149996                D20434A  ...        1.619167e+07        1.176343e+07
149997                D10223C  ...        1.387723e+07        8.288284e+06
149998                T51102A  ...        2.266051e+07        1.855903e+06
149999                L88342B  ...        8.817106e+06        8.305402e+06
150000                    N/A  ...        1.163407e+07        1.100941e+07

        Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0             8.198936e+06        9.656251e+06       2.780823e+08
1             1.833841e+07        1.722713e+07       6.087501e+08
2             1.758779e+07        6.163408e+06       2.295846e+08
3             1.399465e+07        1.097942e+06       7.995382e+08
4             1.712458e+07        4.152180e+05       5.277072e+08
...                    ...                 ...                ...
149996        1.788370e+07        1.967816e+07       5.266097e+08
149997        1.935015e+07        2.129315e+07       6.268931e+08
149998        9.963942e+06        5.065760e+06       5.535395e+08
149999        3.322253e+06        1.317259e+07       3.525370e+08
150000        1.162685e+07        1.100175e+07       4.220447e+08

        Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  \
0            1.434415e+07      1.717444e+08      8.814393e+06
1            1.170709e+06      5.269042e+08      1.505514e+07
2            3.956300e+05      4.106926e+08      4.215763e+06
3            1.084972e+07      7.490399e+08      1.279728e+07
4            3.529801e+06      5.507095e+08      1.391032e+07
...                   ...               ...               ...
149996       9.197207e+06      3.264510e+06      1.348742e+07
149997       4.735033e+06      7.121804e+08      2.457758e+06
149998       1.339432e+07      1.211009e+08      1.131473e+07
149999       2.529475e+06      8.147131e+08      1.406930e+06
150000       8.288398e+06      4.211005e+08      8.264799e+06

        Total UL (Bytes)  Total DL (Bytes)
0           3.674974e+07      3.088796e+08
1           5.380039e+07      6.533850e+08
2           2.788364e+07      2.798073e+08
3           4.332422e+07      8.460285e+08
4           3.854281e+07      5.691386e+08
...                  ...               ...
149996      5.762885e+07      5.741753e+08
149997      3.913508e+07      6.666488e+08
149998      3.491222e+07      5.927864e+08
149999      2.962610e+07      3.718959e+08
150000      4.112121e+07      4.546434e+08

[150001 rows x 55 columns]>

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start                                     150001 non-null  object
 2   Start ms                                  150001 non-null  float64
 3   End                                       150001 non-null  object
 4   End ms                                    150001 non-null  float64
 5   Dur. (ms)                                 150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN/Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last Location Name                        150001 non-null  object
 10  Avg RTT DL (ms)                           150001 non-null  float64
 11  Avg RTT UL (ms)                           150001 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150001 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 16  DL TP < 50 Kbps (%)                       150001 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 19  DL TP > 1 Mbps (%)                        150001 non-null  float64
 20  UL TP < 10 Kbps (%)                       150001 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 23  UL TP > 300 Kbps (%)                      150001 non-null  float64
 24  HTTP DL (Bytes)                           150001 non-null  float64
 25  HTTP UL (Bytes)                           150001 non-null  float64
 26  Activity Duration DL (ms)                 150001 non-null  float64
 27  Activity Duration UL (ms)                 150001 non-null  float64
 28  Dur. (ms).1                               150001 non-null  float64
 29  Handset Manufacturer                      150001 non-null  object
 30  Handset Type                              150001 non-null  object
 31  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150001 non-null  float64
 54  Total DL (Bytes)                          150001 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB
None

**Experience Analytics**

**Aggregate metrics per customer**

In [8]:
# Aggregate per customer
aggregated_data = data.groupby('IMSI').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'TCP UL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg RTT UL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Avg Bearer TP UL (kbps)': 'mean',
    'Handset Type': lambda x: x.mode()[0]
}).reset_index()

# Calculate total TCP retransmission, RTT, and throughput
aggregated_data['Total_TCP'] = (aggregated_data['TCP DL Retrans. Vol (Bytes)'] + aggregated_data['TCP UL Retrans. Vol (Bytes)'])
aggregated_data['Total_RTT'] = (aggregated_data['Avg RTT DL (ms)'] + aggregated_data['Avg RTT UL (ms)'])
aggregated_data['Total_Throughput'] = (aggregated_data['Avg Bearer TP DL (kbps)'] + aggregated_data['Avg Bearer TP UL (kbps)'])

# Drop the intermediary columns
aggregated_data = aggregated_data.drop(columns=[
    'TCP DL Retrans. Vol (Bytes)',
    'TCP UL Retrans. Vol (Bytes)',
    'Avg RTT DL (ms)',
    'Avg RTT UL (ms)',
    'Avg Bearer TP DL (kbps)',
    'Avg Bearer TP UL (kbps)'
])

aggregated_data.head()

,IMSI,Handset Type,Total_TCP,Total_RTT,Total_Throughput
0,2.040471e+14,Quectel Wireless. Quectel Ec21-E,2.156957e+07,127.458589,2.0
1,2.040808e+14,Quectel Wireless. Quectel Ec25-E,2.156957e+07,127.458589,1.0
2,2.082001e+14,Dn Electronics Danew Konnect 350,7.623557e+05,303.000000,109.0
3,2.082001e+14,Samsung Galaxy Grand (Gt-I9060X),2.797900e+04,84.000000,754.0
4,2.082001e+14,Apple iPhone 6S (A1688),2.156957e+07,92.000000,80.5

**list 10 of the top, bottom, and most frequent:**

In [9]:
def compute_top_bottom_frequent(data, column, top_n=10):
    top_values = data[column].nlargest(top_n).reset_index(drop=True)
    bottom_values = data[column].nsmallest(top_n).reset_index(drop=True)
    most_frequent_values = data[column].mode()
    
    # If there are fewer than top_n most frequent values, adjust
    if len(most_frequent_values) > top_n:
        most_frequent_values = most_frequent_values.head(top_n)
    
    return {
        'top': top_values,
        'bottom': bottom_values,
        'most_frequent': most_frequent_values
    }

# Compute statistics for each metric
tcp_stats = compute_top_bottom_frequent(aggregated_data, 'Total_TCP')
rtt_stats = compute_top_bottom_frequent(aggregated_data, 'Total_RTT')
throughput_stats = compute_top_bottom_frequent(aggregated_data, 'Total_Throughput')

# Function to print the results in a readable format
def print_stats(stats, title):
    print(f"\n{title}")
    print("\nTop 10 values:")
    print(stats['top'])
    print("\nBottom 10 values:")
    print(stats['bottom'])
    print("\nMost Frequent values:")
    print(stats['most_frequent'])

# Print the results for each metric
print_stats(tcp_stats, "Total TCP Stats")
print_stats(rtt_stats, "Total RTT Stats")
print_stats(throughput_stats, "Total Throughput Stats")

Total TCP Stats

Top 10 values:
0    4.301477e+09
1    4.288121e+09
2    4.268647e+09
3    4.254660e+09
4    4.211258e+09
5    4.166595e+09
6    4.137938e+09
7    4.117805e+09
8    3.968121e+09
9    3.786871e+09
Name: Total_TCP, dtype: float64

Bottom 10 values:
0     97.0
1    128.0
2    129.0
3    134.0
4    143.0
5    176.0
6    176.0
7    177.0
8    179.0
9    182.0
Name: Total_TCP, dtype: float64

Most Frequent values:
0    2.156957e+07
Name: Total_TCP, dtype: float64

Total RTT Stats

Top 10 values:
0    96924.0
1    54848.0
2    32335.0
3    27278.0
4    26300.0
5    25715.0
6    25388.0
7    24738.0
8    23010.5
9    20980.0
Name: Total_RTT, dtype: float64

Bottom 10 values:
0     0.0
1     0.0
2     2.0
3     4.0
4     5.0
5     6.0
6     8.0
7     9.0
8     9.0
9    10.0
Name: Total_RTT, dtype: float64

Most Frequent values:
0    127.458589
Name: Total_RTT, dtype: float64

Total Throughput Stats

Top 10 values:
0    283931.0
1    265724.0
2    265176.5
3    254950.0
4    238982.0
5    235365.0
6    230982.0
7    228303.0
8    227334.0
9    226505.0
Name: Total_Throughput, dtype: float64

Bottom 10 values:
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: Total_Throughput, dtype: float64

Most Frequent values:
0    15.0
Name: Total_Throughput, dtype: float64

**The distribution of the average throughput per handset type**

In [13]:
def report_distribution(df, group_col, value_col, top_n=10):
    distribution = df.groupby(group_col)[value_col].mean()
    top_distribution = distribution.sort_values(ascending=False).head(top_n)
    return top_distribution

throughput_distribution = report_distribution(aggregated_data, 'Handset Type', 'Total_Throughput')

print("\nTop 10 Average Throughput per Handset Type:\n")
print(throughput_distribution)

Top 10 Average Throughput per Handset Type:

Handset Type
Huawei B715S-23C               109866.800000
New-Bund Technol. Mix 2        105211.000000
Lg G6+                         100135.000000
Zyxel Communicat. Sbg3600       97351.000000
Huawei Y9 2019                  91739.000000
Xiaomi Communica. M1902F1G      85613.666667
Spa Condor Elect. Allure M2     84311.500000
Ovvi-Cellphone T. Echo          78953.000000
Huawei Pele                     78381.000000
Spa Condor Elect. Plume L2      76529.000000
Name: Total_Throughput, dtype: float64

**Average TCP per handset**

In [15]:
def report_distribution(df, group_col, value_col, top_n=10):
    distribution = df.groupby(group_col)[value_col].mean()
    top_distribution = distribution.sort_values(ascending=False).head(top_n)
    return top_distribution


tcp_distribution = report_distribution(aggregated_data, 'Handset Type', 'Total_TCP')

print("\nTop 10 Average TCP Retransmission per Handset Type:\n")
print(tcp_distribution)

Top 10 Average TCP Retransmission per Handset Type:

Handset Type
Lg Lg-H635                                   9.125491e+08
Huawei Bln-Al10                              3.291746e+08
Asustek Asus Zenfone Selfie Zd551Kl          3.216583e+08
Huawei E5776S-32                             2.022908e+08
Apple iPad Pro (A1652)                       1.280664e+08
Samsung Galaxy Tab S3 (Sm-T825)              1.269133e+08
Samsung Galaxy J8 2018                       1.157583e+08
Dynamic Tech Hol. D-Mobile I3 I5 I7 I8 I9    1.038173e+08
Xiaomi Communica. Mi 6                       7.538708e+07
Huawei E5573                                 6.788394e+07
Name: Total_TCP, dtype: float64

**k-means clustering**

In [18]:
# Select features
features = aggregated_data[['Total_TCP', 'Total_RTT', 'Total_Throughput']]

# Apply KMeans clustering
kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(features)
aggregated_data['cluster'] = kmeans.labels_

numeric_cols = aggregated_data.select_dtypes(include='number').columns


# Describe each cluster with only numeric columns
cluster_description = aggregated_data.groupby('cluster')[numeric_cols].mean()
print("\nCluster Descriptions:")
print(cluster_description)

Cluster Descriptions:
                 IMSI     Total_TCP   Total_RTT  Total_Throughput  cluster
cluster
0        2.082016e+14  1.658608e+07  134.636309      13041.928870      0.0
1        2.082016e+14  2.969075e+09  144.058442      71035.179654      1.0
2        2.082016e+14  1.141648e+09  153.469019      68208.631271      2.0